# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Laser Defender.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\zdvih\source\repos\laserDefender\Laser Defender\.idea\.idea.Laser Defender\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
